
/* slash_blue */

/* Header */

#header {
  background: #000066 url(header_bg.png) repeat top left;
  border: 1px solid #000066;
}

/* Navigation */

#top-nav {
  border: 1px solid #000066;
  border-width: 0 1px 1px 1px;
}
#primary li {
  background: #000066 url(cl.png) no-repeat top left;
}
#primary li:hover {
  background: #0F0F9A url(cl.png) no-repeat top left;
}
#primary a:link, 
#primary a:visited, 
#primary a:hover, 
#primary a:active {
  background: transparent url(cr.png) no-repeat top right;
}
#secondary li {
  background: #000066;
}
#secondary li:hover {
  background: #0F0F9A;
}

/* Links */

a:link, a:visited {
  color: #000066;
}
a:hover {
  color: #006666;
}
a:active {
  color: #ff0000;
}

.node .content a:link, .comment .content a:link {
  color: #000066;
}
.node .content a:visited, .comment .content a:visited {
  color: #333;
}
.node .content a:hover, .comment .content a:hover {
  color: #006666;
}
.node .content a:active, .comment .content a:active {
  color: #ff0000;
}

/* Node styles */

.node .title1 {
  background: #000066 url(cl.png) no-repeat top left;
}
.node .title2 {
  background: transparent url(cr.png) no-repeat top right;
}
.node .meta,
.node .content,
.node div.links {
  border: 1px solid #000066;
  border-width: 0 1px 1px 1px;
}
.node div.links {
  background: #ccc;
}

/* Block styles */

.block .title1 {
  background: #000066 url(cl.png) no-repeat top left;
}
.block .title2 {
  background: transparent url(cr.png) no-repeat top right;
}
.block .content {
  border: 1px solid #000066;
}

/* Box styles */

.box {
  border: 1px solid #000066;
}

#mission, #footer {
  border: 1px solid #000066;
}

/* Modules */

.profile {
  border: 1px solid #000066;
}
